*.class

# ignore target dirs
/target/

# ignore project files
.project
.settings/
.classpath
.idea/
out/
src/main/resources/rebel.xml
mass-core.java.list

# ignore temporary files
*.tmp
*.swo
*.swp
*~
UWCA/UWCA-web/target/
mass-core/target/
mass-quickstart/target/
UWCA/UWCA-ear/target/
UWCA/UWCA-ejb/target/
mass_log.log
logs/
docs/~$SS Java Developer Guide.docx
/bin/
