
# In this type of machine file, list the IP address or hostname of each remote node,
# one per line, with a CR/LF at the end. Do not place comments in the file, like there
# is in this example. This file should contain *ONLY* hostnames or IP addresses on each
# line, and NOTHING else.

remote-host-1.domain.com
remote-host-2.domain.com
192.168.0.1
192.168.0.2